@import url('https://fonts.googleapis.com/css?family=K2D');
	*{font-family:K2D;
	}


.noform {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: black;
	background-color: transparent;
	background-clip: padding-box;
	border: none;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}